<html>
<%- include('head'); %>
<body>
<%- include('toolbar_admin_view',{section: 'admin'}); %>
<style type="text/css">
    button {
        border: 1px solid #ffcc04 !important;
        margin: 10px;
    }

    ul {
        list-style-type: none;
    }
</style>
<div style="margin: 20px">
    <p type="text" id="getID" style="display: none"><%= token %></p>
    <p>Список таблиць</p>
    <ul>
        <li>
            <button class="btn  btn-sm btn-default" onclick="sendAjaxPatientTable()">Таблиця пацієнтів</button>
        </li>
        <li>
            <button class="btn  btn-sm btn-default" onclick="sendAjaxDoctorTable()">Таблиця лікарів</button>
        </li>
    </ul>
</div>
<script>
    function sendAjaxPatientTable() {
        let url = '/admin/patient_table';
        sendAjax(url);
    }

    function sendAjaxDoctorTable() {
        let url = '/admin/doctor_table';
        sendAjax(url);
    }

    function sendAjax(url) {
        $.ajax({
            type: 'GET',
            headers: {Authorization: sessionStorage.getItem("token")},
            url: url,
            success: function (response) {
                console.log("successful ajax - " + url);
                $("body").html(response);
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        let t = $('#getID').html();
        sessionStorage.setItem('token', t);
    });
</script>
</body>
</html>