<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" style="color:#ffcc04">Система обліку пацієнтів</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav">
            <li class="nav-item <%= section === 'main' ? '' : 'active' %>">
                <a class="nav-link" href="/patient/">Головна</a>
            </li>
            <li class="nav-item <%= section === 'our_departments' ? '' : 'active' %>">
                <a class="nav-link" href="/patient/our_departments">Наші відділення</a>
            </li>
            <li class="nav-item <%= section === 'my_profile' ? '' : 'active' %>">
                <a class="nav-link" href="/patient/my_profile/" id="myprofileID">Мій профіль</a>
            </li>
            <li class="nav-item <%= section === 'my_appointments' ? '' : 'active' %>">
                <a class="nav-link" href="/patient/my_appointments">Мої прийоми</a>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" id="loginAid">
                <a class="nav-link trigger-btn" href="#Logout" data-toggle="modal"
                   data-target="#modalLoginForm">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    $(document).ready(function () {
        console.log("&&&&&&&&&token -" +sessionStorage.getItem('token'));
        $('#myprofileID').click(function () {
            console.log("token -" +sessionStorage.getItem('token'));
            // function getMyProfileAjax() {
            //     $(document).ready(function () {
            $.ajax({
                type: 'GET',
                headers: { Authorization: $`Bearer ${sessionStorage.getItem("token")}` },
                url: '/patient/my_profile/',
                success: function (response) {
                    console.log("success of /patient/my_profile/");
                }
            });
        });
    });

</script>
